body {
  font-family: sans-serif;
  text-align: center;
}

div {
  display: grid;
  place-items: center;
  width: 200px;
  height: 75px;
  background: royalblue;
  color: white;
  border-radius: 5px;
}

.floating {
  background: cyan;
  width: 150px;
  height: 50px;
  color: black;
  pointer-events: none;
}
